<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1> aqui vai meu titulo </h1>


     <p>  
     Opa, {{name}} {{lastname}} Seja bem vindo!
     {{#mostraridade}}
     Vocé e maior de 18
     {{/mostraridade}}

     <hr/>

     produtos
     <ul>
     {{#produtos}}
        <li>{{titulo}} - R$ {{preço}} </li>
        {{/produtos}}
        </ul>



   </p> 
    
</body>
</html>